translations/texts/objects/ship/shared_techstation/shared_techstationTier0.object.json
translations/texts/monsters/skills/ranged/shared_Attack.monsterskill.json
translations/texts/objects/ship/shared_shiplockertier0/shared_shiplockertier0.object.json

.vscode

*.markup
script/test
Pad.md

